.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 60px;
    background: #ffffff;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    max-width: 1400px;
    margin: 0 auto;
}

.logo{
    height: 50px;
    display: block;
}

.nav-link{
    display: flex;
    list-style: none;
    gap: 40px; 
}

.nav-link li a{
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
    font-size: 18px;
}

.nav-link li a:hover{
    color: #4e946a;
}

.btn-ea{
    background-color: #4e946a;
    color: #ffffff;
    padding: 14px 28px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600px;
    font-size: 18px;
    display: inline-block;
}

.btn-ea:hover{
    background-color: #3d7553;
}



.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/hero-bg.png');
    background-size: #0D1626;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 730px;
    color: #ffffff;
    padding: 40px 20px;
}

.banner-container{
    max-width: 1000px;
    width: 100%;
}

.banner-file{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.badge{
    background: #1A2E2A;
    color: #4E946A;
    padding: 8px 18px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    border: 1px solid #4E946A;
}

h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
}

.highlight{
  color: #4E946A;  
}

p{
    font-size: 18px;
    color: #C4CCD4;
    line-height: 1.6;
    max-width: 700px;
    margin-bottom: 40px;
}

.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.btn{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 12px;
    padding: 16px 12px;
    border-radius: 8px;
    font-size: 16px;
    font-size: 600;
    border: none;
}

.btn-green{
    background-color: #4E946A;
    color: #ffffff;
}

.btn-online{
    background: transparent;
    color: #ffffff;
    border: 1px solid #4D5562;
}

.btn-icon{
    width: 20px;
    height: auto;
}





