/*first commit*/

.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    color: #1a1a1a;
    line-height: 1.6;
}

.navbar{
    background: #ffffff;
    border-bottom: 1px solid #f0f0f0;
}

.nav-container{
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px 32px;
}

.logo{
    height: 50px;
    display: block;
}

.logo img{
    height: 40px;
}

.nav-left , .nav-right{
    display: flex;
    align-items: center;
    flex: 1;
}
.nav-left{
    justify-content: flex-start;
}

.nav-right{
    justify-content: flex-end;
}

.nav-center{
    flex: 2;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.nav-center a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-size: 16px;
    font-weight: 500;
}

.nav-center a:hover{
    color: #4e946a;
}

.btn-ea{
    background: #4e946a;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.btn-ea:hover{
    background-color: #3d7553;
}

/*banner commit*/

.banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 730px;
    color: #ffffff;
    padding: 40px 20px;
}

.banner-container{
    position: relative;
    z-index: 2;
    max-width: 1000px;
    width: 100%;
}

.early-access{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dot{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #ffffff;
    color: #4E946A;
    padding: 8px 18px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 35px;
    border: 1px solid #4E946A;
    outline: 3px solid #cfe8dc;
}

.banner h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 24px;
}

.highlight{
  color: #4E946A;  
}

.banner p{
    font-size: 18px;
    color: #C4CCD4;
    line-height: 1.7;
    max-width: 760px;
    margin-bottom: 8;
}

.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 70px;
}

.btn{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 12px;
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.btn-green{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #4E946A;
    color: #ffffff;
    padding: 14px 26px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.btn-green img{
    width: 18px;
    height: 18px;
}

.btn-online{
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    color: #ffffff;
    padding: 14px 26px;
    border-radius: 8px;
    border: 1px solid #4D5562;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    
}

.btn-icon{
    width: 20px;
    height: 10px;
    padding: 4px 4px 4px 4px; 
    padding-bottom: 5px;
    padding-top: 5px;
}


/*second commit*/

.notes-section{
    background-color: #1A2E2A;
    padding: 100px 100px;
    text-align: center;
    padding-right: 100px;
    padding-bottom: 130px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.title{
    text-align: center;
    align-items: center;
    font-size: 48px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 16px;
}

.notes-section .container > p{
    font-size: 18px;
    color: #D0D5DD;
    max-width: 720px;
    margin: 0 auto 72px;
}

.flex-container{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 0;
    flex-wrap: wrap;
}

.note-card{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #ffffff;
   border-radius: 16px;
   padding: 40px 28px;
   flex: 1;
   max-width: 280px;
}

.icon-circle{
    border-radius: 10px;
    background-color: #F04438;
    margin-bottom: 20px;
}

icon-circle img{
    width: 32px;
    height: 32px;
}

.note-card h3{
    font-size: 22px;
    font-weight: 700;
    color: #0B2545;
    margin-bottom: 10px;
}

.note-card p{
    font-size: 15px;
    color: #667085;
    line-height: 1.6;
    text-align: center;
}

/*third commit*/

.body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #334155;
    min-height: 900px;
}

.solution-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    width: 100%;
}

.sol-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sol-left img{
    width: 100%;
    max-width: 520px;
    height: auto;
    object-fit: contain;
}

.sol-right{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.label{
    color: #22c55e;
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: block;
}

.sol-right h2{
    font-size: 44px;
    font-weight: 800;
    color: #0f172a;
    line-height: 1.2;
    margin-bottom: 20px;
}

.sol-right p{
    font-size: 18px;
    line-height: 1.6;
    color: #64748b;
    margin-bottom: 32px;
    max-width: 520px;
}

.check-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.check-list li{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    text-decoration-color: #1e293b;
    font-weight: 500;
}

.check-list li img{
    width: 20px;
    height: 20px;
} 

/*fourth commit*/

.cha-container{
    padding: 80px 20px;
}
.cha-box{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    background: rgb(206, 203, 203);
    border-radius: 20px;
    border: 10px;
    padding: 40px;
}

.cha-box h2{
    font-size: 40px;
    font-weight: 800;
    color: #0f172a;
    margin-bottom: 20px;
}

.cha-box p{
    font-size: 18px;
    color: #475569;
    margin-bottom: 32px;
}

.btn-green{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #4E946A;
    padding: 14px 24px;
}

.disclaimer{
    margin-top: 24px;
    font-size: 14px;
    color: #94a3b8;
}

/*fifth commit*/

.footer{
    background-color: #020617;
    color: white;
    padding: 60px 0 30px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1e293b;
    padding-bottom: 40px;
}

.footer-logo{
    height: 45px;
}

.icon-gap{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 12px;
}

.socials{
    text-align: right;
}

.social-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #1e293b;
    border-radius: 50%;
    cursor: pointer;
}

.social-btn img{
    width: 14px;
    height: 14px;
}

.social-btn:hover{
    background: #519b70;
}

.niche{
    text-align: center;
    margin-top: 24px;
    color: #cbd5f5;
    font-size: 14px;
}